// To override environment values defined in cypress.json,
// Create a local file named cypress.env with contents like:
// DO NOT INCLUDE THESE COMMENTS THOUGH. Has to be valid JSON!
{
    "environment": "local"
}
